$light-bg: #ffffff;
$light-text: #1c1c1d;
$light-text-second: #4b5563;
$light-accent: #0284c7;
$light-line-color: #e5e5e5;


$dark-bg: #111827;
$dark-text: #ffffff;
$dark-text-second: #9ca3af;
$dark-accent: #38bdf8;
$dark-line-color: #1f2937;


$font-body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,  "Helvetica Neue", Arial, sans-serif;


:root {
  --bg-color: #{$light-bg};
  --text-color: #{$light-text};
  --text-second-color: #{$light-text-second};
  --accent-color: #{$light-accent};
  --line-color: #{$light-line-color};
  --font-body: #{$font-body}
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #{$dark-bg};
    --text-color: #{$dark-text};
    --text-second-color: #{$dark-text-second};
    --accent-color: #{$dark-accent};
    --line-color: #{$dark-line-color};
  }
}
